from modules import *

def test():
   """
   test_dataset: Dataset that contain raw image to test
   Test process: for each raw image, send it through [preprocessor][inferer][postprocessor] and verify the result, generating perf metrics
   """
   config = get_config()
   # load dataset
   filepaths, metadata = get_dip(config, context="inference")
   preprocessor = get_preprocessor("inference")
   postprocessor = get_postprocessor(config)
   model = get_model(config)
   for i, (imagepath, meta) in enumerate(zip(filepaths, metadata)):
       preprocessed_images = preprocessor(imagepath, crop_coords=meta["coords"])
       inferer = postprocessor(model, preprocessed_images)
       print(inferer)
       break